<div id="about"></div><!-- anchor -->
<div id="about-container">
  <div class="border-dec border-about">
    <h3 class="overlap">About</h3>
    <a class="home-nav lower-nav" href="#home">
      <p>home</p>
      <p class="nav-arrow">&caron;</p>
    </a>
    <!--  key content -->
    <div class="about-key-content">
      <h2>hi!</h2>
      <p class="feature-text">Madeleine Milasas is a junior web developer from Sydney, Australia. During a career in film, television and live entertainment technology, she saw firsthand the transition from<br><span class="rotate" id="rotateFrom">film</span> to [web apps / IP networks.<br />She wanted to be a part of this change.</p>
    </div>

    <!--  pic and socials -->
    <div class="flex-container">
      <div class="flex-row">
        <div class="flex-cell-1">
          <%= image_tag "profile.jpg", :class => "profile" %>
        </div>
        <div class="flex-cell-1">
          <h4><span class="long-dash">&#8212;&#8212;</span> CONNECT <span class="long-dash">&#8212;&#8212;</span></h4>
          <ul>
            <li>Email</li>
            <li>Resume</li>
            <li>LinkedIn</li>
            <li>Instagram</li>
          </ul>
        </div>
        <div class="flex-cell-1">
          <h4><span class="long-dash">&#8212;&#8212;</span> WEB SKILLS <span class="long-dash">&#8212;&#8212;</span></h4>
          <ul>
            <li>HTML5 / CSS3</li>
            <li>JavaScript - Vanilla, jQuery, React, p5</li>
            <li>Ruby</li>
            <li>Rails</li>
          </ul>
        </div>
      </div>
      <div class="flex-row">
              <div class="flex-cell-3">
                <h4>BACKGROUND <span class="long-dash">&#8212;&#8212;&#8212;&#8212;</span></h4>
                <p class="small-text">Film + Television Visual Effects, Video Production, Multimedia Operator + Technician, Interaction Designer</p>
              </div>
      </div>
    </div>
  </div>
</div>
