<div id="about-container">
  <div class="border-dec border-about">
  <h3 class="overlap">About</h3>
    <a class="home-nav lower-nav" href="/">
      <p>home</p>
      <p class="nav-arrow">&caron;</p>
    </a>
  </div>
</div>
