<div id="about-container">
  <div class="border-dec border-about">
    <h3 class="overlap">About</h3>
    <a class="home-nav lower-nav" href="/">
      <p>home</p>
      <p class="nav-arrow">&caron;</p>
    </a>
    <!--  key content -->
    <div class="about-key-content">
      <h2>hi!</h2>
      <p class="feature-text">Madeleine Milasas is a junior web developer<br>from Sydney, Australia. After working in entertainment technology and seeing the transition from old tech to IP she decided she wanted to be a creator in this new wave.</p>
    </div>

    <!--  pic and socials -->
    <div class="flex-container">
      <div class="flex-cell-1">
        <%= image_tag "profile.jpg", :class => "profile" %>
      </div>
      <div class="flex-cell-1">
        <h4>CONNECT <span class="long-dash">&#8212;&#8212;&#8212;&#8212;</span></h4>
        <ul>
          <li>Email</li>
          <li>Resume</li>
          <li>LinkedIn</li>
          <li>Instagram</li>
        </ul>
      </div>
      <div class="flex-cell-1">
        <h4>SKILLS <span class="long-dash">&#8212;&#8212;&#8212;&#8212;</span></h4>
        <ul>
          <li>Email</li>
          <li>Resume</li>
          <li>LinkedIn</li>
          <li>Instagram</li>
        </ul>
      </div>
      <div class="flex-cell-1">
        <h4>BACKGROUND <span class="long-dash">&#8212;&#8212;&#8212;&#8212;</span></h4>
        <p class="small-text">Film + Television Visual Effects, Video Production, Multimedia Operator + Technician, Interaction Designer</p>
      </div>

    </div>
  </div>
</div>
