
<div id="about-container">
  <div class="border-dec border-about">
    <h3 class="overlap">About</h3>
    <!--  key content -->
    <div class="about-key-content">
      <h2>hi!</h2>
      <p class="feature-text"><span class="highlight">I'm Madeleine, a junior web developer from Sydney.</span></p>
      <p class="subfeature-text" id="rotate-container">During a career in film, television and live entertainment, I saw firsthand many tech transitions: <span class="rotate" id="rotateTech">from cables to web GUIs.</span></p>
      <p class="subfeature-text">Inspired by the incredible innovative and creative potential in all these web-based changes, I embarked on studying web development.</p>
      <p class="subfeature-text">Along the way I discovered that I absolutely love to build things with code.</p>
    </div>

    <!--  pic and socials -->
    <div class="flex-container">
      <div class="flex-row">
        <div class="flex-cell-1">
          <%= image_tag "profile.jpg", :class => "profile" %>
        </div>
        <div class="flex-cell-1 mini-list">
          <h4 class="no-whitespace-top">CONNECT</h4>
          <ul>
            <li><%= mail_to "maddi.milasas@gmail.com", "maddi.milasas@gmail.com", :class => "link-underline", :target => "_blank" %></li>
            <li><a href="https://www.linkedin.com/in/madeleine-milasas" target="_blank" class="link-underline">LinkedIn</a></li>
            <li><a href="M-Milasas-CV.pdf" download class="link-underline">Resume</a></li>
            <li><a href="https://www.github.com/madeleinemila" target="_blank" class="link-underline">GitHub</a></li>
            <li class="list-link"><a id="skills-to-work">Jump to my work below</a></li>
          </ul>
        </div>
        <div class="flex-cell-1 mini-list">
          <h4 class="no-whitespace-top">SKILLS</h4>
          <ul>
            <li>JavaScript - including jQuery, React, p5, Node</li>
            <li>Ruby</li>
            <li>Rails</li>
            <li>HTML5 / CSS3</li>
            <li>Processing</li>
            <li>Arduino</li>
          </ul>
        </div>
      </div>
      <div class="flex-row">
              <div class="flex-cell-3">
                <h4>BACKGROUND</h4>
                <p class="small-text">Film + Television Production, Post-Production & Visual Effects; Live Entertainment Lighting, Video & Interaction Design; Broadcast Television Operations</p>
              </div>
      </div>
      <div class="flex-row">
              <div class="flex-cell-3">
                <h4>EDUCATION</h4>
                <p class="small-text">B.A., Grad. Dip. Interaction Design & Electronic Arts, University of Sydney, High Distinction Average;<br />General Assembly Web Development Immersive</p>
              </div>
      </div>
    </div>

    <!--  nav to home -->
    <a id="about-to-home" class="home-nav-unfixed">
      <p class="nav-spaced">&nbsp;</p>
      <p class="nav-arrow nav-spaced">&caron;</p>
    </a>
  </div>
</div>
