<div id="about-container">
  <div class="border-dec border-about">
    <h3 class="overlap">About</h3>
    <a class="home-nav lower-nav" href="/">
      <p>home</p>
      <p class="nav-arrow">&caron;</p>
    </a>
    <!--  key content -->
    <div class="about-key-content">
      <h2>hi!</h2>
      <p class="feature-text">Lorem ipsum dolor sit amet,<br/>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <!--  pic and socials -->
    <div class="flex-container">
      <div class="flex-cell-1">
        <%= image_tag "profile.jpg", :class => "profile" %>
      </div>
      <div class="flex-cell-1">
        <h4>CONNECT <span class="long-dash">&#8212;&#8212;&#8212;&#8212;</span></h4>
        <ul>
          <li>Email</li>
          <li>Resume</li>
          <li>LinkedIn</li>
          <li>Instagram</li>
        </ul>
      </div>
      <div class="flex-cell-1">
        <h4>BACKGROUND <span class="long-dash">&#8212;&#8212;&#8212;&#8212;</span></h4>
      </div>

    </div>
  </div>
</div>
