<div class="content">
   <h1>FINAL PROJECT</h1>
   <p>A visual code generator for pixel mapping</p>
   <p>Created for General Assembly's Web Development Immersive Final assignment</p>
   <p>I enjoyed figuring out:</p>
   <p>Deployed on Heroku: <a href="#" target="_blank">[address will go here]</a></p>
   <p>Github: <a href="#" target="_blank">[address will go here]</a></p>
</div>
