<div class="content">
   <h1>General Assembly WDI Homework</h1>
   <p>Some examples of sites created for daily homework during General Assembly's Web Development Immersive</p>
   <p>I enjoyed: researching extra features I could integrate into homework tasks</p>
   <!-- <p>Deployed on Github Pages: <a href="https://madeleinemila.github.io/tictactoe" target="_blank">madeleinemila.github.io/tictactoe</a></p> -->
   <!-- <p>Source code: <a href="https://github.com/madeleinemila/tictactoe" target="_blank">github.com/madeleinemila/tictactoe</a></p> -->
</div>
