<div class="content">
   <h1>Interactive Lighting Demos</h1>
   <p>A couple of interactive lighting demos created for Production Resource Group (PRG), Las Vegas</p>
   <p>Software built with Max 6, Processing; interacting with Hog 4 consoles</p>
   <p>&nbsp;</p>
   <p>Fixture control with live music</p>
   <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/HKlNh8WZ-WQ?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
   <iframe width="560" height="315" src="https://www.youtube.com/embed/HKlNh8WZ-WQ?rel=0&amp;showinfo=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
    <p>&nbsp;</p>
    <p>Fixture control with motion</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/I5pzQq6Ubhg?rel=0&amp;showinfo=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
    <p>&nbsp;</p>
</div>
