<div class="content">
   <h1>Origin of O</h1>
   <p>A collaboration with TaikOz to combine live drumming with interactive projections</p>
   <p>My role: design, implementation and live operation of interactive media</p>
   <p>I loved: building a pathway for a drummer's live heartbeat to control audio samples and projections. The drummer then played to the tempo of his own heartbeat, gradually accelerating.</p>
</div>
