<div class="content">
   <h1>Subvixen</h1>
   <p>A web app that generates Arduino code for LED arrays from video, through pixel mapping</p>
   <p>Built upon HTML5 native video & canvas with JavaScript + jQuery</p>
   <p>Created for General Assembly's Web Development Immersive, final week solo assignment</p>
   <p>&nbsp;</p>
   <p>I loved: combining concepts I'd encountered in lighting & video and bringing them to life in the browser</p>
   <p>&nbsp;</p>
   <p>Deployed on Heroku: <a href="https://subvixen.herokuapp.com/" target="_blank">subvixen.herokuapp.com</a></p>
   <p>Source code: <a href="https://github.com/madeleinemila/subvixen" target="_blank">github.com/madeleinemila/subvixen</a></p>
   <%= image_tag "subvixen-demo-sml.gif", :class => "featured", :alt=> "Subvixen Speed Demo" %>
   <p>Livestream of my presentation of this project:</p>
   <iframe width="560" height="315" src="https://www.youtube.com/embed/t8pxUcoJPww?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
