<div class="content">
   <h1>Triage</h1>
   <p>A Ruby on Rails knowledge base app</p>
   <p>Created for General Assembly's Web Development Immersive Week 6 assignment</p>
   <p>I enjoyed figuring out: search functionality, favouriting methods</p>
   <p>Deployed on Heroku: <a href="https://triage.herokuapp.com" target="_blank">triage.herokuapp.com</a></p>
   <p>Github: <a href="https://github.com/madeleinemila/triage-app" target="_blank">github.com/madeleinemila/triage-app</a></p>
</div>
<%= image_tag "off_and_on.png", :class => "featured", :alt=> "Screenshot" %>
