<div class="content">

  <h1>Subvixen</h1>

  <div class="modal-flex-row">
      <div class="modal-flex-2">
           <p>Deployed on Heroku:<br/><a href="https://subvixen.herokuapp.com/" target="_blank">subvixen.herokuapp.com</a></p>
           <p>Source code:<br/><a href="https://github.com/madeleinemila/subvixen" target="_blank">github.com/madeleinemila/subvixen</a></p>
           <br />
           <p>A web app that generates Arduino code for LED arrays from video, through pixel mapping</p>
           <p>Built with:
             <ul class="modal-list">
              <li>HTML5 native video & canvas</li>
              <li>JavaScript with jQuery + Underscore</li>
              <li>Ruby on Rails</li>
              <li>CSS3 + SASS</li>
             </ul>
           </p>
      </div>
      <div class="modal-flex-3">
       <%= image_tag "subvixen-demo-sml.gif", :class => "featured", :alt=> "Subvixen Speed Demo" %>
      </div>
  </div>
   <div class="modal-flex-row">
     <div class="modal-flex-2">
          <p>Created for General Assembly's Web Development Immersive, final week solo assignment</p>
          <br />
          <p>I loved: combining concepts I'd encountered in lighting & video and bringing them to life in the browser</p>
          <br />
     </div>
     <div class="modal-flex-3">
       <div class="youtube-player" data-id="t8pxUcoJPww"></div>
       <p class="caption">Livestream of this project's first presentation</p>
     </div>
   </div>
</div>




<!--
<div class="content">
   <h1>Subvixen</h1>
   <p>Deployed on Heroku:<br/><a href="https://subvixen.herokuapp.com/" target="_blank">subvixen.herokuapp.com</a></p>
   <p>Source code:<br/><a href="https://github.com/madeleinemila/subvixen" target="_blank">github.com/madeleinemila/subvixen</a></p>
   <br />
   <p>A web app that generates Arduino code for LED arrays from video, through pixel mapping</p>
   <p>Built upon HTML5 native video & canvas with JavaScript + jQuery</p>
   <p>Created for General Assembly's Web Development Immersive, final week solo assignment</p>
   <br />
   <p>I loved: combining concepts I'd encountered in lighting & video and bringing them to life in the browser</p>
   <br />
   <%= image_tag "subvixen-demo-sml.gif", :class => "featured", :alt=> "Subvixen Speed Demo" %>
   <div class="livestream">
     <p class="no-whitespace-bottom">Livestream of my presentation of this project:</p>
     <iframe width="560" height="315" src="https://www.youtube.com/embed/t8pxUcoJPww?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
   </div>
</div> -->
