<div class="content">
   <h1>Triage</h1>
   <div class="modal-flex-row reverse-wrap">
      <div class="modal-flex-2">
       <p>Deployed on Heroku:<br /><a href="https://triage.herokuapp.com" target="_blank">triage.herokuapp.com</a></p>
       <p>Source code:<br /><a href="https://github.com/madeleinemila/triage-app" target="_blank">github.com/madeleinemila/triage-app</a></p>
       <br />
       <p>A knowledge base app for tech-troubleshooting.</p>
       <p>Built with:
         <ul class="modal-list">
          <li>Ruby on Rails</li>
          <li>JavaScript</li>
          <li>HTML5, CSS3 + SASS</li>
          <li>PostgreSQL</li>
         </ul>
       </p>
     </div>
     <div class="modal-flex-3">
        <%= link_to (image_tag "triage-home-new.jpg", :class => "featured", :alt=> "Screenshot of public homepage"), "https://triage.herokuapp.com", :target => "_blank" %>
     </div>
   </div>


   <p>Created for General Assembly's Web Development Immersive, week 6 solo assignment</p>
   <p>I loved figuring out: search functionality, favouriting methods</p>
   <div class="modal-flex-row flex-no-wrap">
       <div class="modal-flex-1">
         <%= image_tag "triage-qantel-new.jpg", :class => "featured click-to-enlarge", :alt=> "Search works for misspelt word" %>
       </div>
       <div class="modal-flex-1">
         <%= image_tag "triage-signup-new.jpg", :class => "featured click-to-enlarge", :alt=> "Signup page" %>
       </div>
       <div class="modal-flex-1">
         <%= image_tag "triage-pins-new.jpg", :class => "featured click-to-enlarge", :alt=> "User pins example" %>
       </div>
   </div>
   <img id="enlarged-img" />
</div>
