<div class="content">
  <h1>Software Engineer - Ansarada</h1>
  <div class="modal-flex-row">
    <div class="modal-flex-2">
      <p>2.5 years as a software engineer for leading virtual data room provider <a href="https://www.ansarada.com">Ansarada</a>.</p>
      <br />
      <p>As a frontend engineer I worked with: React, Flow, Redux, GraphQL, Jest, WebdriverIO</p>
      <p>As a backend engineer I worked with: .NET Framework, .NET Core</p>
      <br />
      <p>I loved: collaborating with my cross-functional team to use data to better understand our customers</p>
      <p>I led: fullstack feature implementations and scrum processes</p>
      <p>I was proud to: learn Haskell and ReasonML and coordinate a functional programming study group</p>
      <p>I discovered: I loved wiring up integrations with tools such as New Relic, Bitbucket Pipelines, Segment and Amplitude</p>
    </div>
    <div class="modal-flex-1">
      <%= link_to (image_tag "pathways.png", :class => "featured", :alt=> "Pathways screenshot"), "https://www.ansarada.com", :target => "_blank" %>
    </div>
  </div>
  <div class="modal-flex-row">
    <div class="modal-flex-1">
      <%= link_to (image_tag "comments.png", :class => "featured", :alt=> "Comments screenshot"), "https://www.ansarada.com", :target => "_blank" %>
    </div>
    <div class="modal-flex-2">
      <p>🏆 3 x winner of company-wide hackathons (3 out of 3 entries).</p>
      <p>Two entries productionized, with the third entry jumping out of the bounds of the browser in the form of a native desktop app, built with Electron.</p>
    </div>
  </div>
</div>
