<div class="content">
   <h1>Interactive Lighting Demos</h1>
   <p>A couple of interactive lighting demos created for Production Resource Group (PRG), Las Vegas</p>
   <p>Software built with Max 6; interacting with Hog 4 consoles</p>
</div>
