<div class="content">
   <h1>Tic Tac Toe</h1>
   <p>Deployed on Github Pages:<br /><a href="https://madeleinemila.github.io/tictactoe" target="_blank">madeleinemila.github.io/tictactoe</a></p>
   <p>Source code:<br /><a href="https://github.com/madeleinemila/tictactoe" target="_blank">github.com/madeleinemila/tictactoe</a></p>
   <br />
   <p>A JavaScript tic tac toe game with ever-increasing board size</p>
   <p>Created for General Assembly's Web Development Immersive, week 3 solo assignment</p>
   <p>I enjoyed figuring out: scalability, writing my first AI</p>
   <br />
</div>
<%= image_tag "https://res.cloudinary.com/mrmy/image/upload/v1512108426/tictactoe_astmwc.png", :class => "featured", :alt=> "Screenshot of Tic Tac Toe level 10" %>
