<div class="content">
   <h1>Dichroic Dimensions</h1>
   <p>An interactive public installation, using vocals to drive building-scale projections and soundscapes</p>
   <p>Exhibited at Vivid Sydney 2014, Museum of Contemporary Art facade</p>
   <p>I created: software to drive the interactivity using Max 6, controlling audio ex Ableton Live & video ex VDMX</p>
</div>
