<div class="content">
   <h1>Subvixen</h1>
   <p>A web app that generates Arduino code from video through pixel mapping</p>
   <p>Built upon HTML5 native video & canvas with JavaScript + jQuery</p>
   <p>Created for General Assembly's Web Development Immersive, final week solo assignment</p>
   <!-- <p>I enjoyed figuring out: translating an idea from my lighting experience into a web implementation, how to sample and manipulate RGB values in the browser</p> -->
   <p>I loved: combining concepts I'd encountered in lighting & video and bringing them to life in the browser</p>
   <p>&nbsp;</p>
   <p>Deployed on Heroku: <a href="https://subvixen.herokuapp.com/" target="_blank">subvixen.herokuapp.com</a></p>
   <p>Source code: <a href="https://github.com/madeleinemila/subvixen" target="_blank">github.com/madeleinemila/subvixen</a></p>
</div>
