<div class="content">
   <h1>Burning Airlines</h1>
    <div class="modal-flex-row">
     <div class="modal-flex-1">
       <p>A prototype flight booking app built with:
         <ul class="modal-list">
           <li>React.js</li>
           <li>Ruby on Rails</li>
           <li>HTML5 / CSS3</li>
           <li>PostgreSQL</li>
         </ul>
       </p>
       <p>Created for General Assembly's Web Development Immersive 2 day coding challenge. 2 people, 2 days, first ever project in React.</p>
       <br />
       <p>I enjoyed crafting:<br />my seat map component with live updates to/from the database</p>
       <p>This project gave me experience in:<br />pair programming</p>
       <br />
       <p>'Customer' interface deployed on Github Pages:<br /><a href="https://madeleinemila.github.io/burning-airlines" target="_blank">madeleinemila.github.io/burning-airlines</a></p>
       <p>To take the prototype for a spin - username: Maddi, password: chicken</p>
       <br />
       <p>'Admin' interface deployed on Heroku:<br /><a href="https://burningairlinesdb.herokuapp.com" target="_blank">burningairlinesdb.herokuapp.com</a></p>
       <br />
       <p>Frontend source:
       <br />
       <a href="https://github.com/madeleinemila/burning-airlines" target="_blank">github.com/madeleinemila/burning-airlines</a></p>
       <p>Backend source:
       <br />
       <a href="https://github.com/madeleinemila/burning-airlines-backend" target="_blank">github.com/madeleinemila/burning-airlines-backend</a></p>
    </div>
    <div class="modal-flex-1">
        <%= link_to (image_tag "ba-demo.gif", :class => "featured", :alt=> "Seat Map demo"), "https://madeleinemila.github.io/burning-airlines", :target => "_blank" %>
    </div>
   </div>
</div>
