<div class="content">
   <h1>Interactive Lighting Demos</h1>
   <p>A couple of interactive lighting demos created for Production Resource Group (PRG), Las Vegas</p>
   <p>Software built with:
     <ul class="modal-list">
       <li>Max 6</li>
       <li>Processing</li>
     </ul>
   </p>
   <div class="modal-flex-row">
    <div class="modal-flex-1">
       <p>Fixture control with live music</p>
        <div class="youtube-player" data-id="HKlNh8WZ-WQ"></div>
    </div>
    <div class="modal-flex-1">
        <p>Fixture control with motion</p>
        <div class="youtube-player" data-id="I5pzQq6Ubhg"></div>
        <p>&nbsp;</p>
    </div>
  </div>
</div>
