<a class="home-nav" href="#">about</a>
<h1>MADELEINE MILASAS</h1>
<h2>Full Stack Web Developer</h2>

<div id="graph"></div>

<!-- <p>average of everything: <%= @avg_all %></p> -->

<!-- <% @avg_prev.each do |a| %>
  <p><%= a %></p>
<% end %> -->

<a class="home-nav lower-nav" href="#">work</a>
