<!--       -->
<!-- ABOUT -->
<!--       -->

<%= render "about" %>


<!--      -->
<!-- HOME -->
<!--      -->

<div id="home"></div><!-- anchor -->
<div id="home-container">
  <a class="home-nav" id="about">
    <p class="nav-arrow nav-arrow-up">&circ;</p>
    <p>about</p>
  </a>
  <h1>MADELEINE MILASAS</h1>
  <h2 class="home-byline">Full Stack Web Developer</h2>

  <div id="graph"></div>

  <div class="nav-block">
      <a class="home-nav lower-nav" href="#work">
        <p>work</p>
        <p class="nav-arrow">&caron;</p>
      </a>
  </div>
</div>







<!--      -->
<!-- WORK -->
<!--      -->

<%= render "work" %>

<div class="nav-return"></div>
