


<!--       -->
<!-- ABOUT -->
<!--       -->


<div id="about-container">
  <div class="border-dec border-about">
  <h3 class="overlap">About</h3>
    <a class="home-nav lower-nav" href="/">
      <p>home</p>
      <p class="nav-arrow">&caron;</p>
    </a>
  </div>
</div>







<!--      -->
<!-- HOME -->
<!--      -->


<div id="home-container">
  <a class="home-nav" href="/about">
    <p class="nav-arrow nav-arrow-up">&circ;</p>
    <p>about</p>
  </a>
  <h1>MADELEINE MILASAS</h1>
  <h2>Full Stack Web Developer</h2>

  <div id="graph"></div>

  <!-- <p>average of everything: <%= @avg_all %></p>

  <% @avg_prev.each do |a| %>
    <p><%= a %></p>
  <% end %> -->

  <a class="home-nav lower-nav" href="/work">
    <p>work</p>
    <p class="nav-arrow">&caron;</p>
  </a>
</div>











<!--      -->
<!-- WORK -->
<!--      -->

<div id="work-container">
  <div class="border-dec border-work">
    <h3 class="overlap">General Assembly</h3>
  </div>
  <div class="border-dec border-work">
    <h3 class="overlap">Freelance Interaction Design</h3>
  </div>
</div>
