@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

* {
  // border: 1px solid pink;
  box-sizing: border-box;
}

///////////////////////
//     VARIABLES     //
///////////////////////

$nav-margin: 40px;
$old-border-padding: 30px;

///////////////////////
//       CSS         //
///////////////////////


body {
  // background-color: rgb(4, 225, 133);
  font-family: 'Futura', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
}

p {
  font-family: 'Crimson', serif;
}

body.modal-open {
  overflow: hidden; // disable scroll behind popups
}

.blur {
  filter: blur(2px) grayscale(100%); // TODO prefixes?
  transition: filter 1s;
}

#home-container {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
  color: white;
  padding-top: 15px;
  margin-top: $old-border-padding;

  // GRADIENTS
  // option 1
  // background: #00a186;
  // background: -moz-linear-gradient(top, #00a186 0%, #2989d8 50%, #00a186 100%);
  // background: -webkit-linear-gradient(top, #00a186 0%,#2989d8 50%,#00a186 100%);
  // background: linear-gradient(to bottom, #00a186 0%,#2989d8 50%,#00a186 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a186', endColorstr='#00a186',GradientType=0 );

  // option 2
  background: #23548A;
  background: -moz-linear-gradient(top, #00eab3 0%, #23538a 100%);
  background: -webkit-linear-gradient(top, #00eab3 0%,#23538a 100%);
  background: linear-gradient(to bottom, #00eab3 0%,#23538a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00eab3', endColorstr='#23538a',GradientType=0 );

  background-repeat: no-repeat;
}

h1 {
  font-weight: 100;
  text-align: center;
  margin-top: 100px;
  letter-spacing: 5px;
}

h2 {
  @extend h1;
  font-size: 16px;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 15px;
}


a.home-nav {
  display: block;
  height: 100px;
  line-height: 22px;
  width: 100px;
  margin: 0 auto;
  // margin-top: $nav-margin;
  // border-radius: 50%;
  // border: 2px white solid;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: Crimson, serif;
  text-transform: uppercase;
}

a.lower-nav {
  position: absolute;
  bottom: $nav-margin;
  left: 50%;
  transform: translate(-50%, 0);
}

.nav-arrow {
  font-family: Futura, sans-serif;
  font-size: 44px;
}

.nav-arrow-up {
  @extend .nav-arrow;
  margin: 40px 0 0 0;
}


//////////// ABOUT /////////////////



#about-container {
  box-sizing: border-box;
  width: 100vw;
  background-color: white;
  color: #333;
  margin: 0;
  position: relative;

  h3.overlap {
    margin-top: 0;
    text-align: left;
    font-family: 'Crimson', serif;
    letter-spacing: 1px;
    // font-style: italic;
    background-color: white;
    position: absolute;
    top: -12px;
    left: 50px;
    padding: 0 2em;
    font-weight: lighter;
  }

  .right {
    text-align: right;
  }

  .home-nav {
    color: #333;
    // border-color: #333;
  }

  .border-dec {
    border: 1px solid #333;
    margin: $old-border-padding;
  }
  .border-about {
    height: 100vh;
  }
  .about-key-content {
    max-width: 720px;
    margin: 0 auto;
    padding: 1em;
    h2 {
      font-family: 'Crimson', serif;
      font-style: italic;
      font-size: 40px;
      text-transform: lowercase;
      display: block;
      padding-top: 2em;
    }
    p.feature-text {
      letter-spacing: 1px;
      font-size: 26px;
      text-align: center;
    }
  }
}

// **** flex grid ****






//////////// WORK ///////////////////

#work-container {
  @extend #about-container;
  // h3.overlap {
  //   top: 24px;
  // }
  .border-work {
    // height: 200px;
    position: relative;
  }
}

.thumbs-container {
  margin: 3em 2em;
}

.thumb {
  width: 100px;
  // height: 100px;
  // background-color: #23558B;
  display: inline-block;
  margin: 20px;
  vertical-align: middle;
  cursor: pointer;
}

.thumb-label {
  font-family: 'Crimson', serif;
  font-style: italic;
  letter-spacing: 0.8px;
  height: 60px;
  display: inline-block;
  margin-bottom: 0;
}

.thumb-small {
  width: 100px;
}
