#preloader {
  display: block;
  // display: none;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #23548A;

  .load-graphic1 {
    position: fixed;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    // -webkit-transform: translateX(-50%);
    // transform: translateX(-50%);
    // -webkit-transform: translateY(-50%);
    // transform: translateY(-50%);
    width: 50px;
    height: 50px;
    // border-left: 1px rgba(255, 255, 255, 0.5) solid;
    border-top: 1px rgba(255, 255, 255, 0.5) solid;
    -webkit-animation: move 2s ease-in-out infinite;
    animation: move 2s ease-in-out infinite;
  }

  .load-graphic2 {
    @extend .load-graphic1;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }

  .load-graphic3 {
    @extend .load-graphic1;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
  }
}

// ********* vert lines
// @-webkit-keyframes move {
//   50% {
//     transform: translateX(4rem);
//   }
//   100% {
//     transform: translateX(-50%);
//   }
// }
//
// @keyframes move {
//   50% {
//     transform: translateX(4rem);
//   }
//   100% {
//     transform: translateX(-50%);
//   }
// }



// ********** horiz lines
@-webkit-keyframes move {
  50% {
    top: calc(50% - 25px + 4rem);
  }
  100% {
    top: calc(50% - 25px);
  }
}

@keyframes move {
  50% {
    top: calc(50% - 25px + 4rem);
  }
  100% {
    top: calc(50% - 25px);
  }
}
