$media-min-width-lge: 320px;

#modal-bg {
  display: none; // gets shown by js
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  min-width: 100vw;
  min-height: 100vh;
  overflow-y: auto; // enable scroll if needed
  background-color: white; // fallback
  background-color: rgba(255, 228, 228, 0.9);
  opacity: 1;
  -webkit-filter: none;
  filter: none; // don't blur modals
}

.modal-content {
  display: none; // gets shown by js
  z-index: 50;
  background-color: white;
  padding: 2em;
  width: 75%;

  position: fixed;     // to allow vert scroll of modal while body is still
  top: 0;              // ^^^
  overflow-y: scroll;  // ^^^
  height: 100%;        // ^^^
  left: 50%;                     // centering
  transform: translate(-50%);    // ^^^

  background-clip: border-box;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  h1 {
    text-transform: uppercase;
    margin: 3em 0;
  }
  p {
    font-family: 'Crimson', serif;
    letter-spacing: 1px;
    font-style: italic;
    line-height: 1.3rem;
  }
  p:first-of-type {
    padding-top: 0;
  }
}

.close {
  color: #666;
  float: right;
  font-size: 2em;
}

.close:hover, .close:focus {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}


.close-lower {
  display: block;
  visibility: hidden; // only shows up on smaller screens
}


// MODAL TEXT & IMAGES

.modal-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-flex-1 {
  flex: 1;
  padding: 1rem;
}
.modal-flex-2 {
  flex: 2;
  padding: 1rem;
}
.modal-flex-3 {
  flex: 3;
  padding: 1rem;
}

.modal-flex-photo {
  flex: 1;
  padding: 1rem;
  padding-top: 0.7rem;
}

.modal-flex-vimeo {
  flex: 1;
  // padding: 1rem;
}

img.youtube-thumb {
  width: 100%;
  cursor: pointer;
  min-width: $media-min-width-lge; // to stop it getting tiny on smaller screens
  box-shadow: 5px 5px 15px #222;
}

iframe {
  cursor: pointer;
  min-height: 360px;
  min-width: $media-min-width-lge;
}

img.featured {
  display: block;
  max-width: 800px;
  width: 100%;
  // margin: 0 auto 5rem auto;
  margin: 1rem auto;
  // border: 1px #d9d2d2 solid;
  box-shadow: 5px 5px 15px #222;
  min-width: 220px;
}

img.featured-less-margin {
  margin-top: 0;
}

.modal-list {
  @extend p;
  // font-weight: bold;
}

// TRANSITION ANIMATION

#anim {
  z-index: 40;
  display: none;
  // opacity: 0;
  width: 400px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 20;
  // border: 5px white solid;
}
