#modal-bg {
  display: none; // gets shown by js
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  min-width: 100vw;
  min-height: 100vh;
  overflow-y: auto; // enable scroll if needed
  background-color: white; // fallback
  background-color: rgba(255, 228, 228, 0.9);
  opacity: 0; // gets shown by js
  -webkit-filter: none;
  filter: none; // don't blur modals
  -webkit-transition: opacity 0.8s ease;
  -moz-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

.modal-content {
  display: none; // gets shown by js
  z-index: 50;
  background-color: white;
  padding: 2em;
  width: 75%;

  position: fixed;     // to allow vert scroll of modal while body is still
  top: 0;              // ^^^
  overflow-y: scroll;  // ^^^
  height: 100%;        // ^^^
  left: 50%;                     // centering
  transform: translate(-50%);    // ^^^

  background-clip: border-box;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  h1 {
    text-transform: uppercase;
    margin: 3em 0;
  }
  p {
    font-family: 'Crimson', serif;
    letter-spacing: 1px;
    font-style: italic;
  }
  p:last-of-type {
    padding-bottom: 3em;
  }
}

.close {
  color: #666;
  float: right;
  font-size: 2em;
}

.close:hover, .close:focus {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}


// MODAL TEXT & IMAGES

.content {
  // width: 50vw;
}


img.featured {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px #d9d2d2 solid;
  box-shadow: 5px 5px 15px #d9d2d2;
}


// TRANSITION ANIMATION

#anim {
  z-index: 40;
  display: none;
  // opacity: 0;
  width: 400px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 20;
  // border: 5px white solid;
}
