

////////// RESPONSIVE ///////////
@media only screen and (max-width: 1200px) {
  .modal-content {
    width: 90% !important;
  }
}

@media only screen and (max-width: 800px) {
  .close-lower {
    visibility: visible;
  }
}


@media only screen and (max-width: 640px) {
  .modal-content {
    width: 100% !important;
    h1 {
      margin-bottom: 1.75rem !important;
    }
  }

  .home-byline {
    font-size: 0.9rem;
    padding: 0 1rem;
    line-height: 2rem;
  }

  iframe {
    width: 100%;
    min-height: 220px;
  }

  .featured {
    width: 100%;
    cursor: pointer;
  }

  .thumb {
    display: block;
    margin: 0 auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  h3.overlap {
    left: 50% !important;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center !important;
  }

  .home-byline {
    letter-spacing: 4px;
    font-size: 74%;
  }

  .subfeature-text {
    font-size: 1rem !important;
  }
}

@media only screen and (max-width: 374px) {
  .subfeature-text {
    font-size: 0.9rem !important;
  }

  iframe {
    width: 100%;
    min-width: 200px;
    min-height: 120px;
  }
  .video-lge {
    min-width: 200px;
  }
  img.youtube-thumb {
    min-width: 200px;
  }
}
