#work-container {
  background-color: white;
  color: #333;
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: relative;

  h1 {
    margin-top: 0;
  }

  .home-nav {
    color: #333;
    border-color: #333;
  }
}
