<!DOCTYPE html>
<html>
  <head>
    <title>Madeleine Milasas - Developer</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="preloader">
      <div class="load-graphic1"></div>
      <div class="load-graphic2"></div>
      <div class="load-graphic3"></div>
    </div>
    <!-- Thanks for checking out the work-in-progress that is this portfolio here :)  Any questions, please feel free to hit me up at maddi.milasas (at) gmail.com -->
    <%= yield %>
  </body>
</html>
